.menu{
    &__list{
        display: flex;
        align-items: center;
        
        // display: none;    // временно
    }
    &__item{
        margin-right: 32px;
    }

    &__item:last-child{
        margin-right: 0;
    }

    &__item:nth-child(7),
    &__item:nth-child(8){
        display: none;
    }
    &__linck{
        color: #FFFFFF;
        &:hover{
            color: #478BF9;
            text-decoration: underline;
            transition: 0.5s;
        }
    }

    &__btn{
        display: none;
        width: 28px;
        height: 28px;
        overflow: hidden;
        background-color: transparent;
        border: 0;
        position: relative;
    }
    &__btn span{
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: #FFFFFF;
        display: block;
        border-radius: 6px;
        margin-bottom: 4px;
    }

    &__btn span:nth-child(1){
        top: 7px;
    }

    &__btn span:nth-child(2){
        top: 13px;
    }

    &__btn span:nth-child(3){
        top: 19px;
    }


}


.menu--active .menu__btn>span:nth-child(1){
    display: none;
}

.menu--active .menu__btn>span:nth-child(2){
    top: 50%;
    transform: translate(0%, 0%) rotate(45deg);  
    transition: transform 0.5s;
}

.menu--active .menu__btn>span:nth-child(3){
    top: 50%;
    transform: translate(0%, 0%) rotate(-45deg);  
    transition: transform 0.5s;
}

@media (max-width: 425px){
    .menu{
        order: 3;
        &__btn{
            display: flex;
        }
        &__list{
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            align-items: center;
            background-color: #110A1D;
            color: #FFFFFF;
            position: absolute;
            left: 0;
            top: 0;
            padding: 30px 10px 0;
            transform: translateY(-110%);
            transition: transform .5s ease;
            z-index: 5;
        }
        &__item{
            width: 100%;
            max-height: 50px;
            border: 2px solid #478BF9;
            padding: 13px 20px;
            border-radius: 28px;
            margin: 0 auto;
            margin-bottom: 5px;
        }
        &__item:nth-child(6){
            margin-bottom: 30px;
        }
        &__item:nth-child(7),
        &__item:nth-child(8){
            display: block;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__btns-login,
        &__btns-signup{
            width: 100%;
            height: 50px;
            border: 0;
            border-radius: 28px;
            background-color: transparent;
            color: #FFFFFF;
            font-family: 'Lexend', sans-serif;
            font-weight: 400;
            font-size: 16px;
        }
        &__btns-signup{
            background-color: #478BF9;
        }
        &__btns-login:hover,
        &__btns-signup:hover{
            background-color: #478BF9;
            transition: 0.5s linear;
        }
        &__item:last-child{
            margin: 0;
        }
        &__linck{
            text-align: left;
            font-size: 18px;
        }
        
    }

    .menu__list--visited{
        transform: translateY(60px);
    }
    

}